* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
}

header h1 {
    width: fit-content;
    margin-inline: auto;
    margin-block: 20px;
}

header .back {
    margin-inline: 20px;
    font-size: 25px;
    cursor: pointer;
    width: fit-content;
}

header .back:hover {
    color: #ff0000;
}

/* Style for the team chat container */
main #team-chat {
    padding: 10px;
    height: 75%;
    overflow: hidden;
}

/* Style for chat messages */
#team-chat #chat-messages {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 10%;
    box-sizing: content-box;
}

#team-chat #chat-messages .message,
.message1 {
    max-width: 60%;
    margin: 20px 0px;
    color: #ff0000;
}

.message1 {
    margin-inline-start: auto;
    text-align: end;
}

.message1 .sender {
    width: fit-content;
    font-weight: 600;
    color: blue;
    font-size: 20px;
    margin-inline-start: auto;
}

#team-chat #chat-messages .message .sender {
    width: fit-content;
    font-weight: 600;
    color: #ff0000;
    font-size: 20px;
}

#team-chat #chat-messages .message .message-content {
    width: fit-content;
}

#team-chat #chat-messages .message .message-content p,
.content {
    max-width: 100%;
    padding: 10px;
    margin-block: 10px;
    border-radius: 15px;
    color: #ffff;
    background-color: #000000;
    display: inline-block;
    word-wrap: break-word;
}

.content {
    background-color: #6eb32eff;
}

/* Style for the input container */
#chat-input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

/* Style for the input field */
#message-input {
    flex: 1;
    padding: 10px;
    margin-block: 0px 20px;
    margin-inline: 20px 0px;
    border: 1px solid #000;
    border-radius: 10px;
}

/* Style for the buttons */
button {
    padding: 10px 20px;
    background-color: #008000;
    color: white;
    border: none;
    cursor: pointer;
    margin-block: 0px 20px;
    border-radius: 5px;
    margin-inline: 10px;
}