body main h1 {
  /* border: 2px solid red; */
  margin-inline: 10px;
  font-size: 27px;
  color: #ff0000;
}

/* main {
  border: 2px solid red;
  min-height: 100%;
} */

main .page_sect {
  /* border: 2px solid red; */
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

main .page_sect div {
  /* border: 2px solid green; */
  background-color: #d7edb4ff;
  width: 20vw;
  padding: 10px;
  border-radius: 20px;
  align-items: center;
  color: #000000;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

main .page_sect div:hover {
  color: #ffff;
  background-color: #000000;
}

main .top_events {
  /* border: 2px solid red; */
  margin-block: 30px;
}

main .top_events .matchday {
  /* border: 2px solid green; */
  background-color: #d7edb4ff;
  border-radius: 30px;
  margin: 10px;
  padding: 10px;
}

main .top_events .matchday h4 {
  /* border: 2px solid red; */
  width: fit-content;
  font-size: 16px;
  border-radius: 15px;
  margin: 10px;
  background-color: #f3fae8ff;
  padding: 5px;
}

main .top_events .matchday .con1 {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 10px;
}

main .top_events .matchday .con1 .con_name {
  /* border: 2px solid red; */
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.con_name img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.con_name p {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 600;
}

main .top_events .matchday .con1 .con_score {
  /* border: 2px solid red; */
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.con_score p {
  font-size: 40px;
  color: #ff0000;
  font-weight: 600;
}

.con_score span {
  font-size: 18px;
}

.con_score .wat {
  font-size: 13px;
  font-weight: 600;
}

main .top_events .stat {
  width: 300px;
  padding: 5px 20px;
  margin-inline: auto;
  margin-block: 35px;
  border-radius: 20px;
  font-size: 30px;
  background-color: #c40000ff;
  text-align: center;
  cursor: pointer;
  color: #ffff;
}

main footer {
  top: 100px;
  /* border: 2px solid black; */
  width: 100%;
  height: 60px;
  margin-block: 30% 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #ff0000;
}

footer a {
  text-decoration: none;
  font-weight: 600;
  color: #000000;
  padding: 10px;
}

footer a:hover {
  color: #ffff;
}

@media screen and (min-width: 930px) {
  body {
    /* border: 2px solid brown; */
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #body {
    width: 90%;
    margin-block: 30px;
    background-color: white;
  }

  main .page_sect div {
    width: 20vw;
    padding: 10px;
    font-size: 14px;
  }
}