* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body .back {
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  width: fit-content;
}

body .back:hover {
  color: #ff0000;
}

.matchstat h4 {
  width: fit-content;
  font-size: 30px;
  margin-inline: auto;
  padding: 5px;
}

.matchstat .con1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 10px;
}

.matchstat .con1 .con_name {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.con_name img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.con_name p {
  padding-top: 10px;
  font-size: 30px;
  font-weight: 600;
}

.matchstat .con1 .con_score {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.con_score p {
  font-size: 50px;
  color: #ff0000;
  font-weight: 600;
}

.con_score span {
  font-size: 20px;
}

main .stat div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

main .stat div p {
  width: 15%;
  text-align: center;
  padding: 10px 5px;
  font-size: 16px;
  font-weight: 600;
  background-color: #d8edb4ff;
}

main .stat div span {
  width: 60%;
  text-align: center;
  padding: 10px 5px;
  font-size: 16px;
  font-weight: 600;
  background-color: #ff0000;
  color: #ffff;
  border-radius: 20px;
}