h2 {
    width: fit-content;
    margin-inline: auto;
    margin-block: 20px;
    font-size: 35px;
}

main .date_con {
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    margin-block: 30px 20px;
    background-color: #000000;
}

main .date_con div {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    line-height: 16px;
    cursor: pointer;
    color: #ffff;
}

main .date_con div:hover {
    color: #ff0000;
}

main .news {
    margin-inline: 20px;
    margin-block: 10px 40px;
}

main .news h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

main .news span {
    font-size: 20px;
}

main .live {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
}

main .live p {
    width: fit-content;
    font-size: 20px;
    font-weight: 600;
}

main .live .team {
    width: 60%;
}

main .live .team div {
    margin-block: 10px;
}

main .live .team div img {
    width: 20px;
    border-radius: 50%;
}

main .live .team div span {
    width: fit-content;
    font-size: 20px;
    font-weight: 600;
}

main .live .score p {
    margin-block: 10px;
}